.card{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 24px;
    background: #F8F9FB;
    &__table-info{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;

    }
    &__case-info{
        
        display: flex;
        padding: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
        border-radius: 8px;
        background: #FFF;
    }
    &__author{

        display: flex;
        padding: 8px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        border-radius: 8px;
        background: #FFF;
        img{
            width: 32px;
            height: 32px;
            border-radius: 1000px;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        }
    }
}